@use "../common/Theme.scss";
@use "../common/Animations.scss";

body {
    background-color: Theme.$background;
    font-family: 'Roboto', sans-serif;
    overflow-x: hidden;
}

#container {
    height: 100%;
    display: flex;
}

#content {
    width: 62%;
    height: min-content;
    margin-top: 15%;
    margin-left: 5%;

    .title {
        font-size: 7em;
        animation: fade-in 1s, transform-bottom 1s;
        animation-fill-mode: forwards;
    }
    
    .subtitle {
        font-size: 3em;
        padding-left: 10px;
        animation: fade-in 2s;
        animation-fill-mode: forwards;
        animation-delay: 1s;
        opacity: 0;
    }
    
    .heading {
        font-weight: 100;
        margin: 0;
    }
}

#cooking-preview {
    width: 33%;
    height: 100%;

    .image {
        position: absolute;
        right: 0;
        width: 33%;
        height: 100%;
        background-image: url("");
        background-repeat: no-repeat;
        background-size: cover;
        background-position-x: -250px;
        opacity: 0;

        animation: transform-right 2s, fade-in 4s;
        animation-fill-mode: forwards;
        animation-delay: 2s;
    }

    .overlay {
        position: absolute;
        right: 0;
        background-color: #000;
        opacity: 0.6;
        width: 33%;
        height: 100%;
        z-index: 10;
        transform: translateX(100%);

        animation: transform-right 2s;
        animation-fill-mode: forwards;
        animation-delay: 2s;
    }
}